// Background colors
dark-blue = #212c4f
light-gray = #f0f3f5

//Text Colors
dark-gree = #205284
dark-gray = #5b6175
light-blue = #c6e0eb
black = #000000
white = #ffffff


//Button Colors
purple = #7b42f6
violet = #B01EFF
pink = #E1467C
blue = #3672F8
middle-blue = #ffffff
teal = #56CCF2
green = #A6E1D5
turquoise = #14f1d9
